<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/universal.css" />
    <title><%- page %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- define data in the client-side scope -->
    <script>
      const data = <%- JSON.stringify(data) %>;
    </script>
    <style>
      /* Increase font size for Sort by */
      #sort-search label[for="sort-select"] {
        font-size: 24px;
      }

      /* Increase font size for Search */
      #sort-search label[for="search-input"],
      #sort-search button#search-button {
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h2>
      <% if (session.user) { %> Currently logged in as <%= session.user.username
      %> <% } else { %> You are not logged in, some fields may be redacted to
      protect sensitive information. <% } %>
    </h2>
    <h2><%- page %></h2>

    <div class="table-container">
      <table id="data-table">
        <thead>
          <tr>
            <% Object.keys(data[0]).forEach((key) => { %>
            <th><%= key %></th>
            <% }); %>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((row) => { %>
          <tr>
            <% Object.values(row).forEach((value) => { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <h3>
      Count:
      <span id="row-count">
        <script>
          const rowCount = document.querySelectorAll(
            "#data-table tbody tr"
          ).length;
          const columnName = document.querySelector("#data-table th").innerText;
          document.write(rowCount + " " + columnName);
        </script>
      </span>
    </h3>

    <div class="checkbox-container">
      <span class="checkbox-title">Options:</span>
      <% Object.keys(data[0]).forEach((key, index) => { %>
      <label>
        <input
          type="checkbox"
          class="column-checkbox"
          data-index="<%= index %>"
          checked
        />
        <%= key %>
      </label>
      <% }); %>
    </div>

    <div id="sort-search">
      <div class="sort">
        <label for="sort-select">Sort by:</label>
        <select id="sort-select">
          <option value="" selected disabled>-- Select Column --</option>
          <% Object.keys(data[0]).forEach((key) => { %>
          <option value="<%= key %>"><%= key %></option>
          <% }); %>
        </select>
      </div>
      <div class="search">
        <label for="search-input">Search:</label>
        <input type="text" id="search-input" />
        <button id="search-button">Go</button>
      </div>
      <!-- see if the partial partials/controls/{{table}}.ejs exists, if it does, include it here -->
      <% if (partialExists) { %> <%- include(`partials/controls/${table}`); %>
      <% } %>
    </div>

    <% if (session.user && (session.user.accountType == "Admin" ||
    session.user.accountType == "Teacher")) { %>
    <div id="import-export">
      <div class="button-group">
        <h3>Import</h3>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <input type="text" value="<%= table %>" name="table" hidden />
          <input
            type="text"
            name="name"
            value="<%= session.user.name %>"
            hidden
          />
          <input type="file" id="file-input" name="file" />
          <button id="import-button">Import</button>
        </form>
      </div>

      <div class="button-group">
        <h3>Export</h3>
        <button class="export-button" data-type="XML">XML</button>
        <button class="export-button" data-type="XLS">XLS</button>
        <button class="export-button" data-type="JSON">JSON</button>
        <button class="export-button" data-type="CSV">CSV</button>
      </div>
    </div>
    <% } %> <%- include('partials/footer') %>
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script src="/js/universal.js"></script>
  </body>
</html>
